<div class="collapsible-header">
  <div class="left">
    <i ng-if='shop.favorite' class="material-icons">favorite</i>
    <i ng-if='!shop.favorite' class="material-icons">favorite_border</i>
  </div>
  <span class="shop-title" ng-bind-html="shop.name"></span>
  <span class="shop-title-address hide-on-small-only" ng-show="shop.location_street != 'null'"> - {{shop.location_street}}</span>
  <div class="right">
    <span ng-if='shop.espresso' class="espresso-icon green lighten-1" data-position="top" data-delay="50" data-tooltip="espresso">E</span>
    <span ng-if='shop.speciality' class="speciality-icon light-blue lighten-1" data-position="top" data-delay="50" data-tooltip="Speciality">S</span>
    <span ng-if='shop.drip' class="drip-icon teal lighten-1" data-position="top" data-delay="50" data-tooltip="Drip">D</span>
    <span ng-if='shop.roaster' class="roaster-icon blue lighten-1" data-position="top" data-delay="50" data-tooltip="Roaster">R</span>
    <span ng-if='shop.tea' class="tea-icon indigo lighten-1" data-position="top" data-delay="50" data-tooltip="Roaster">T</span>
    <span ng-if='shop.food' class="food-icon cyan lighten-1" data-position="top" data-delay="50" data-tooltip="Roaster">F</span>
  </div>
</div>
<div class="collapsible-body">
  <div ng-bind-html="shop.short_description"></div>
  <p>
    <a ng-if="shop.location_street !== 'null'" class="waves-effect waves-light btn" ng-click="centerMap(shop.id)">{{shop.location_street}} <i class="material-icons right">place</i></a>
    <a class="waves-effect waves-light btn">
      <i ng-if='!shop.favorite' ng-click='favorite(shop.id)' class="material-icons">favorite</i>
      <i ng-if='shop.favorite' ng-click='favorite(shop.id)' class="material-icons">favorite_border</i>
    </a>
  </p>
  <p><a href="#/shop/{{shop.id}}" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">arrow_forward</i></a></p>
</div>
